  
<mat-toolbar>

  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" color="accent">
    <mat-icon>menu</mat-icon>
  </button> -->
  <section>
    <div class="example-button-row">
      <button mat-raised-button class="home" routerLink="">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" ></mat-icon>
      </button>
      <button mat-raised-button routerLink="my-orders">MyOrders</button>
    </div>
  </section>
   <span class="example-spacer"></span>
    <div class="heading"> Takeaway 🏎	</div>
  <!--<app-search></app-search> -->
  <span class="example-spacer"></span>
  <button mat-raised-button class="corner-icons" routerLink="/cart">🛒</button>
  <button mat-raised-button class="corner-icons"  routerLink="/login">👻</button>

</mat-toolbar>

